/* HEADER */
header{
    width:95%;
    height: 25rem;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto 0  auto;
    /* background: pink; */
    box-shadow: none;
    background-color: var(--backgroundColorOne);
}

header p{
    width:60%;
    text-align:center;
    line-height: 1.6;
    margin: 0.75rem 0;
}

.inputWrapper{
    position:relative;
    /* background: pink; */
    width: 45rem;
    display: flex;
    align-items: center;
}

input[type=text]{
    position:relative;
    margin: 20px 0;
    width: 100%;
    height: 45px;
    border-radius: 50px;
    border-style: none;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: var(--shadow);
}

input[type=text]:focus{
    border-style: none;
    outline-offset: 0px;
    outline: none;
}

#ikon{
    display: block;
    opacity: 0.5;
    position: absolute;
    right: 1rem;
}

#cari{
    display: none;
}

/* MAIN */
.container{
    display: flex;
    width: 95%;
    margin: 0 auto 2rem auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
}

.item{
    border-radius: 2rem;
    box-shadow: var(--shadow);
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--backgroundColorTwo);
    margin: 1.5rem;
}

.item img{
    display: block;
    max-width: 60%;
}

@media only screen and (max-width: 980px) {
    .inputWrapper{
        width: 30rem;
    }  

    .item{
        width: 12rem;
        height: 12rem;
        margin: 1.75rem;
        border-radius: 1rem;
    }
}

@media only screen and (max-width: 880px) {
    .item{
        width: 10rem;
        height: 10rem;
        margin: 1rem;
        border-radius: 1rem;
    }
}

@media only screen and (max-width: 680px) {
    .inputWrapper{
        width: 20rem;
    }  
    .item{
        border-radius: 1.25rem;
        width: 9.5rem;
        height: 9.5rem;
        margin: .5rem;
    }
    
}